<!-- About Section -->
<section id="hero" class="hero video section light-background">
    <video class="img-fluid light-background background-video-global" autoplay muted loop preload="metadata">
        <source src="./public/video/Video_de_Coche_con_Enfoque_Detallado.mp4" type="video/mp4">
        <source src="./public/video/Video_de_Coche_con_Enfoque_Detallado.webm" type="video/webm">
        <source src="./public/video/Video_de_Coche_con_Enfoque_Detallado.ogg" type="video/ogg">
    </video>
    <div class="scroll-invitation" aria-hidden="false">
        <span class="scroll-invitation__label scroll-invitation__label--mobile">Desplázate</span>
        <button class="scroll-invitation__label scroll-invitation__label--desktop" aria-label="Desplázate"
            type="button">
            <svg class="scroll-invitation__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 42" width="22"
                height="38" aria-hidden="true" focusable="false">
                <path
                    d="M2,12H2V30a10,10,0,0,0,20,0V12A10,10,0,0,0,2,12ZM0,12a12,12,0,0,1,24,0V30A12,12,0,0,1,0,30V12Z">
                </path>
                <path class="scroll-invitation__svg-line" d="M11,7v4a1,1,0,0,0,2,0V7a1,1,0,0,0-2,0Z"></path>
            </svg>

            <span class="scroll-invitation__text" aria-hidden="true">
                <span class="scroll-invitation__item">Desplázate</span>
                <span class="scroll-invitation__item">Explora más</span>
            </span>
        </button>
    </div>

    <div class="history-overlay history-overlay--intro" id="introOverlay">
        <div class="history-overlay-content">
            <h3 class="intro-title" id="introTitle">Acerca de nosotros</h3>
            <p class="intro-description" id="introDescription">El auto que era imposible, ahora es una realidad.</p>
            <div id="introAlt" style="display:none;" data-title="La historia hecha realidad"
                 data-description="Queríamos hacer una simple fantasía realidad, y después de mucho tiempo logramos lo imposible."></div>
        </div>
    </div>

</section>
<!-- End Section Title -->


<!-- /About Section -->