<!-- Portfolio Section -->
<section id="portfolio" class="portfolio section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Autos</h2>
        <p>Pensando en todos aquellos que desean una parte de nosotros, ofrecemos una variedad de autos que se adaptan a
            sus necesidades.</p>
    </div><!-- End Section Title -->

    <!-- Quick Navigation Buttons -->
    <div class="container" data-aos="fade-up" data-aos-delay="50">
        <div class="car-quick-nav">
            <a href="#car-evangeline-s" class="car-nav-link active" data-car-id="car-evangeline-s">
                <i class="bi bi-arrow-down-circle"></i>
                <span>EVANGELINE S</span>
            </a>
            <a href="#car-evangeline-pyou" class="car-nav-link" data-car-id="car-evangeline-pyou">
                <i class="bi bi-arrow-down-circle"></i>
                <span>EVANGELINE P-You</span>
            </a>
            <a href="#car-evangeline-suv" class="car-nav-link" data-car-id="car-evangeline-suv">
                <i class="bi bi-arrow-down-circle"></i>
                <span>EVANGELINE SUV v16</span>
            </a>
            <a href="#car-evangeline-v32" class="car-nav-link" data-car-id="car-evangeline-v32">
                <i class="bi bi-arrow-down-circle"></i>
                <span>EVANGELINE v32</span>
            </a>
        </div>
    </div><!-- End Quick Navigation -->

    <div class="container">
        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">
            <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
                <li data-filter="*" class="filter-active">Todos</li>
                <li data-filter=".filter-app">Deportivos</li>
                <li data-filter=".filter-product">SUV</li>
                <li data-filter=".filter-branding">Lujo</li>
            </ul><!-- End Portfolio Filters -->
            <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">
                <div id="car-evangeline-s"
                    class="col-lg-6 col-md-6 portfolio-item isotope-item filter-app filter-branding">
                    <img src="./public/img/Evangeline_car_GTR.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>EVANGELINE S</h4>
                        <p>Desde 2,000,000$</p>
                        <div class="car-categories">
                            <span class="car-badge badge-deportivo">Deportivo</span>
                            <span class="car-badge badge-lujo">Lujo</span>
                        </div>
                        <a href="./public/img/Evangeline_car_GTR.png" title="EVANGELINE S"
                            data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i
                                class="bi bi-zoom-in"></i></a>
                        <a href="#tabla-carros" title="More Details" class="details-link"><i
                                class="bi bi-link-45deg"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->
                <div id="car-evangeline-suv" class="col-lg-6 col-md-6 portfolio-item isotope-item filter-product">
                    <img src="./public/img/Evangeline_car_Suv_front.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>EVANGELINE SUV v16</h4>
                        <p>Desde 250,000$</p>
                        <div class="car-categories">
                            <span class="car-badge badge-suv">SUV</span>
                        </div>
                        <a href="./public/img/Evangeline_car_Suv_front.png" title="EVANGELINE SUV v16"
                            data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i
                                class="bi bi-zoom-in"></i></a>
                        <a href="#tabla-carros" title="More Details" class="details-link"><i
                                class="bi bi-link-45deg"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->
                <div id="car-evangeline-v32"
                    class="col-lg-6 col-md-6 portfolio-item isotope-item filter-branding filter-app">
                    <img src="./public/img/Evangeline_car_v32_front.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>EVANGELINE v32</h4>
                        <p>Desde 1,000,000$</p>
                        <div class="car-categories">
                            <span class="car-badge badge-lujo">Lujo</span>
                            <span class="car-badge badge-deportivo">Deportivo</span>
                        </div>
                        <a href="./public/img/Evangeline_car_v32_front.png" title="Branding 1"
                            data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i
                                class="bi bi-zoom-in"></i></a>
                        <a href="#tabla-carros" title="More Details" class="details-link"><i
                                class="bi bi-link-45deg"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->
                <div id="car-evangeline-pyou" class="col-lg-6 col-md-6 portfolio-item isotope-item filter-app">
                    <img src="./public/img/Evangeline_car_personal.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>EVANGELINE P-You</h4>
                        <p>Desde 100,000$</p>
                        <div class="car-categories">
                            <span class="car-badge badge-deportivo">Deportivo</span>
                        </div>
                        <a href="./public/img/Evangeline_car_personal.png" title="App 2"
                            data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i
                                class="bi bi-zoom-in"></i></a>
                        <a href="#tabla-carros" title="More Details" class="details-link"><i
                                class="bi bi-link-45deg"></i></a>
                    </div>
                </div><!-- End Portfolio Item -->
            </div><!-- End Portfolio Container -->
        </div>
    </div>
    <br>
    <div class="container">
        <div class="align-items-center">
            <table id="tabla-carros" class="table border-danger-subtle border">
                <legend>
                    <h3 class="text-center mb-4">Comparativa de Modelos EVANGELINE</h3>
                    <thead>
                        <tr>
                            <th scope="col">EVANGELINE S</th>
                            <th scope="col">EVANGELINE P-You</th>
                            <th scope="col">EVANGELINE SUV v16</th>
                            <th scope="col">EVANGELINE v32</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr>
                            <td>2,000,000$</td>
                            <td>100,000$</td>
                            <td>250,000$</td>
                            <td>1,000,000$</td>
                        </tr>
                        <tr>
                            <td>v32</td>
                            <td>v12</td>
                            <td>v16</td>
                            <td>v32</td>
                        </tr>
                        <tr>
                            <td>Afiliado de por vida</td>
                            <td>Afiliado con 100,000$ adicionales</td>
                            <td>Contiene Afiliado por 10 años</td>
                            <td>Afiliado de por vida</td>
                        </tr>
                    </tbody>
                </legend>
            </table>
        </div>

    </div>

</section><!-- /Portfolio Section -->