body {
    background-color: rgb(143, 172, 172);
}

.caja-static {
    position: static;
    color: white;
    background-color: tomato;
    margin: 2px 2px 2px 2px;
    padding: 5px;
    /* top: 100px; */
    /*NO AFECTA top, bottom, left, right*/
    /* right: 100px; */
}

.caja-relative {
    position: relative;
    color: white;
    background-color: blue;
    margin: 2px 2px 2px 2px;
    padding: 5px;
    top: 10px;
    left: 10px;
}

.contenedor {
    position: relative;
    background-color: rgb(5, 59, 238);
    width: 500px;
    height: 100px;

}

.caja-absolute {
    position: absolute;
    color: rgb(255, 255, 255);
    background-color: blue;
    top: 50px;
    left: 50px;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 10px;
    padding: 5px;
}

.caja-fixed {
    position: fixed;
    color: white;
    background-color: green;
    top: 100px;
    right: 100px;
    padding: 50px;
    border-radius: 10px;
}

.whatsapp {
    position: fixed;
    background-color: green;
    bottom: 5px;
    left: 5px;
    padding: 12px;
}

.chrome {
    position: fixed;
    background-color: rgb(52, 52, 187);
    bottom: 30px;
    right: 30px;
    padding: 12px;
    color: white;
    border-radius: 30px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.781);
    cursor: pointer;
    font-size: 20px;
}

img {
    position: relative;
    width: 20px;
    height: 20px;
    top: 3px;
    right: 3px;
}