<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        CSS EXTERNO
    </title>
    <link rel="stylesheet" href="../css/externo_css.css">
</head>

<body>

    <header>
        <center>
            <h1>FORMULARIO REGISTRO DE CARRERA</h1>
        </center>
    </header>
    <main>
        <form action="server.html" method="post">
            <center>
                <fieldset>
                    <input type="reset" value="RESETEAR FORMULARIO"><br>
                    <legend>
                        INGRESE EL NUMERO DE CÉDULA
                    </legend>
                    <label for="cedula_usuario">Cédula:</label>
                    <input type="text" name="cedula_usuario" id="cedula_usuario" required maxlength="10"
                        pattern="[0-9]{10}" inputmode="numeric" title="DEBE INGRESAR EXACTAMENTE 10 NUMEROS"
                        autocomplete="off">

                </fieldset>
                <br>
                <fieldset>
                    <legend>
                        INGRESE SU SEXO
                    </legend>
                    <label for="sexo">SEXO:</label><br>
                    <label for="radio_hombre">HOMBRE</label>
                    <input type="radio" name="sexo" id="radio_hombre" value="HOMBRE" required><br>
                    <label for="radio_mujer">MUJER</label>
                    <input type="radio" name="sexo" id="radio_mujer" value="MUJER" required><br>
                    <label for="radio_perro">PERRO</label>
                    <input type="radio" name="sexo" id="radio_perro" value="PERRO" required><br>
                    <label for="radio_gato">GATO</label>
                    <input type="radio" name="sexo" id="radio_gato" value="GATO" required><br>
                    <label for="radio_otro">OTRO</label>
                    <input type="radio" class="radio" name="sexo" id="radio_otro" value="OTRO" pattern="HOMBRE"><br>
                </fieldset>
                <br>
                <fieldset>
                    <legend>
                        SELECCIONE SU FECHA DE NACIMIENTO
                    </legend>
                    <label for="fecha_nacimiento">Fecha nacimiento:</label>
                    <input type="date" name="fecha_nacimiento" id="fecha_nacimiento" required max="2010-10-27"
                        min="2005-10-27">
                </fieldset>
                <br>
                <fieldset>
                    <legend>
                        SELECCIONE SUS MATERIAS
                    </legend>
                    <label for="materia1">PROGRAMACION WEB</label>
                    <input type="checkbox" name="materia[]" id="materia1" required value="PROGRAMACION_WEB">
                    <br>
                    <label for="materia2">INVESTIGACION DE SOFTWARE</label>
                    <input type="checkbox" name="materia[]" id="materia2" required value="INVESTIGACION_DE_SOFTWARE">
                    <br>
                    <label for="materia3">COMPUTACION DIGITAL</label>
                    <input type="checkbox" name="materia[]" id="materia3" required value="COMPUTACION_DIGITAL">
                    <br>
                    <label for="materia4">BASE DE DATOS</label>
                    <input type="checkbox" name="materia[]" id="materia4" required value="BASE_DE_DATOS">
                    <br>
                    <label for="materia5">COMPUTACION PARALELA</label>
                    <input type="checkbox" name="materia[]" id="materia5" required value="COMPUTACION_PARALELA">
                    <br>
                    <label for="materia6">MODELOS DE PROCESOS</label>
                    <input type="checkbox" name="materia[]" id="materia6" required disabled value="MODELOS_DE_PROCESOS">
                </fieldset>
                <br>
                <fieldset>
                    <legend>
                        SELECCION SU HOJA DE VIDA
                    </legend>
                    <label for="hoja_vida">Hoja de vida:</label>
                    <input type="file" name="hoja_vida" id="hoja_vida" accept=".pdf" required>
                </fieldset>
                <br>
                <fieldset>
                    <legend>
                        GENERAR EL ID BANNER
                    </legend>
                    <label for="id_banner">ID Banner:</label>
                    <input type="text" name="id_banner" id="id_banner" placeholder="ABC" required
                        pattern="[A-Z]{3}[0-9]{5}">
                </fieldset>
            </center>
            <center>
                <button>
                    ENVIAR REGISTRO
                </button>
            </center>
        </form>
    </main>
    <footer>

    </footer>

</body>

</html>