<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar archivo inicio y fin</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="mb-3">
        <label for="" class="form-label">Ingrese numero inicio</label>
        <input type="text" class="form-control" name="" id="txt_inicio" aria-describedby="helpId" placeholder="" />
    </div>
    <br>

    <div class="mb-3">
        <label for="" class="form-label">Ingrese numero final</label>
        <input type="text" class="form-control" name="" id="txt_final" aria-describedby="helpId" placeholder="" />
    </div>
    <br>
    <div class="d-grid gap-2">
        <button type="button" id="btn_mostrar_resultado" class="btn btn-primary">
            MOSTRAR RESULTADOS
        </button>
        <br>
        <p id="txt_resultado"></p>

    </div>
    <script src="../js/mostrarInicioyFin.js"></script>
</body>

</html>