<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOSTRAR NUMEROS DEL 1 AL 10</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>

    <div class="container">
        <h1>MOSTRAR NUMEROS DEL 1 AL 10</h1>
        <div class="d-grid gap-2">
            <button type="button" id="btn_mostrar_numero" class="btn btn-primary">
                MOSTRAR NUMEROS
            </button>
        </div>
        <p id="txt_resultado"></p>

    </div>
    <script src="../js/mostrarNumeros.js"></script>
</body>

</html>